/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
.table-body{
  font-size: 12px;
  width: 44%;
}
.table-title{
  width: 20%;
}
.table-id{
  width: 3%;
}
.table-date{
  width: 13%;
  color:#cdcdcd;
}
.table-button{
  width: 20%;
  display:inline-flex;

}
.table-button a {
  margin-right: 5px;
}

body {
  padding-top: 50px;
}
.navbar{
  background-color: #a6a6a7;

}
.navbar a{
  color:#2a373d;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */
 .autor .nav-item:hover{
   background-color: #eaeaea;
 }

.sidebar {
  position: fixed;
  top: 51px;
  background-color: #eaeaea;


  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #cdcdcd;

}

.sidebar a{
  color:#2a373d;
}
.sidebar i {
  margin-right: 10px;


}


/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;

}

.sidebar .nav-item {
  width: 100%;
  margin-bottom: 10px;

  font-weight:300;

}
.nav-item:hover {
  background-color:#ffffff;


}

.logout a:hover{
  background-color: #a5a5a7;
  color:white;
  padding: 5px;
}

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active{
  background-color:#ffffff;
  color:#2a373d;
  padding-top: 15px;
  padding-bottom: 15px;



}

.sidebar .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
