body{
  font-family: 'Raleway', sans-serif;
  background-color: #F4F6F8;

}
.wrap_nav {

  background-color: #ffffff;


}
.navbar-light .navbar-nav .active>.nav-link {
  color: #A6A6A7;



}
.navbar-light .navbar-nav .nav-link {
  color:#252525;

}
.margin-top {
  margin-top:20px;
}
.margin-bottom{
  margin-bottom: 20px;
}
.link li{
  padding: 5px 15px;
  border:1px solid black;
}
.link li a{
  color:#A6A6A7;
}
.hand-pointer:hover{
  cursor: pointer;
}
.show-tag a {
  color:#292B2C;
}
.footer {
  background-color: #252525;
  color: #F6F6F6;
  opacity:0.95;
}
.footer ul li{
  background-color: #252525;
  color: #F6F6F6;
}
 .article-index .card{
  background-color: #F4F6F8;
 }
