body{
  font-family: 'Raleway', sans-serif;
  font-weight:300;
}
.wrap_nav {

  background-color: #44767f;


}
.navbar-light .navbar-nav .active>.nav-link {
  color: #c0cbd4;


}
.navbar-light .navbar-nav .nav-link {
  color:white;
}
.margin-top {
  margin-top:20px;
}
.margin-bottom{
  margin-bottom: 20px;
}
.link li{
  padding: 5px 15px;
  border:1px solid black;
}
.link li a{
  color:#A6A6A7;
}
.hand-pointer:hover{
  cursor: pointer;
}
.show-tag a {
  color:#292B2C;
}
